<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
  <h1>{{title}}</h1>

  <div class="row placeholders">

    <div class="col-xs-6 col-sm-3 placeholder" *ngFor="let item of results">
      <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-fluid" alt="Generic placeholder thumbnail">
      <h4>{{item.title}}</h4>
      <span class="text-muted">{{item.summary}}</span>
    </div>

  </div>

  <h2>Posts</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>UserId</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of posts">
        <td>{{post.id}}</td>
        <td>{{post.userId}}</td>
        <td>{{post.title}}</td>
        <td>{{post.body}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
