

$black = #000;
$night = #333333;
$charcoal = #4c4c4c;
$dusk = #666666;
$border-color = $silver;
$silver = #CCCCCC;
$smoke = #E1E1E1;
$cloud = #fafafa;
$brand = #cc0000;
$dark-brand = #BF0000;
$sea = #2092c1;
$darker-blue = #145782;
$almost-white = $cloud;
$white = #FFFFFF;
$warning-pink = #f77172;
$notification-blue = #2272b2;
$shade= #949494;
$polar= #e6f3f8;
$sky= #7dbfdb;
$light-yellow= #fff3b2;
